<html>
  <head>
    <script src="javascripts/lib/vendor/jquery.js"></script>
    <script src="javascripts/require.js" data-main="javascripts/application"></script>

  </head>

  <body>

  </body>
</html>

